$primary: #616247;
$secondary: #46714b;
$font1: #ffffff;
$background: #daa03d;
$font2: #444432;

@font-face {
  font-family: "SB Body";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "SB Body";
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "SB Body";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "SB Body";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
  animation: fadein 1s;
}
.fade {
  animation: fadein 1s;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: $background;
  font-family: "SB Body", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  animation: fadein 1s;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  flex-wrap: wrap;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
  color: $font1;
}
.nav-logo {
  width: 15rem;
}
.nav-menu-links {
  display: flex;
  font-family: "SB Heading", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;

  a {
    transition: 0.5s;
    margin: 0.5rem;
    padding: 0.25rem;
    border-radius: 5px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  background-color: $secondary;
  align-items: center;
  color: $background;
}
.subtitle {
  margin: 0;
  color: $font1;
}
.wheel-barrow {
  width: 4rem;
}

.fäbi {
  width: 15rem;
  border-radius: 100%;
  align-self: center;
}

// Todo width mobile and pc
.logo {
  height: auto;
  width: 60%;
  padding: 1rem;
  min-width: 20rem;
  max-width: 1000px;
}
.container > img:nth-child(2) {
  width: 4rem;
}
.hide {
  margin: 0;
  font-size: 0;
}
.split-container {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 6rem;
  color: $font1;
  flex-wrap: wrap;
  div {
    padding: 1rem;
  }
  p {
    margin: 0;
    max-width: 600px;
    font-weight: 300;
    line-height: 1.5;
  }
  h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $primary;
  }
}
.card-title {
  text-align: center;
  font-family: "SB Heading", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  text-transform: uppercase;
  color: $secondary;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 0;
}
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: $font2;
  padding: 1rem;
  flex-wrap: wrap;
  color: $font1;
}

.line-left,
.line-right {
  width: 200px;
  background: $secondary;
  height: 5px;
  border-radius: 5px;
  margin: 1rem;
}
.title-wrapper {
  color: $primary;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: center;
  font-size: 3rem;
}

h3.card-title:nth-child(1) {
  color: $background;
  margin: 0;
}
div.title-wrapper:nth-child(2) {
  margin-bottom: 1rem;
  .line-left,
  .line-right {
    background-color: $background;
  }
}
.avatar_name {
  text-transform: uppercase;
  font-size: 2rem;
}
.contact {
  font-size: 1.5rem;
  font-weight: 300;
}
.container-contact {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: $secondary;
  align-items: center;
  color: $background;
}
.contact > div,
address {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.contact > div > svg,
.contact > address:nth-child(3) > svg:nth-child(1) {
  border: 2px solid white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}
.loadingScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font2;
}
.wheel-barrow-loading {
  width: 8rem;
}
.active {
  transition: 0.5s;
  background-color: $background;
}
.icon {
  transition: 0.5s;
}
.hover-item {
  transition: 0.5s;
}
.icon:hover {
  scale: 1.05;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 10px $primary;
  rotate: 30deg;
}
.hover-item:hover {
  scale: 1.05;
  transition: 0.5s;
}
